
<div class="text-center">
    <h3>Interfaces config</h3>

    <p>
        <br>
    </p>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-offset-2 col-xs-3 control-label">Relay</label>
        <div class="col-xs-3 text-right">
          <button type="button" class="btn btn-success btn-100px">Open door</button>
          <button type="button" class="btn btn-default btn-circle text-left" popover-placement="top" uib-popover="Turn on the relay-pin for 5 seconds. The default pin is 12 (GPIO.BOARD)">
              <i class="glyphicon glyphicon-info-sign"></i>
          </button>
        </div>
      </div>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-offset-2 col-xs-3 control-label">RFID</label>
        <div class="col-xs-3 text-right">
          <button type="button" class="btn btn-success btn-100px">Read</button>
          <button type="button" class="btn btn-default btn-circle text-left" popover-placement="top" uib-popover="Will read out the UUID, of a rfid tag on the reader.">
              <i class="glyphicon glyphicon-info-sign"></i>
          </button>
        </div>

      </div>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-offset-2 col-xs-3 control-label">LED</label>
        <div class="col-xs-3 text-right">
          <input type="input" name="email" id="email" class="inp-100px" />
          <button type="button" class="btn btn-default btn-circle text-left"  popover-placement="top" uib-popover="Let the 3 status led blink. The default pins are 11, 13, 15 (GPIO.BOARD).">
              <i class="glyphicon glyphicon-info-sign"></i>
          </button>
        </div>
      </div>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-offset-2 col-xs-3 control-label">LED</label>
        <div class="col-xs-3 text-right">
          <input type="checkbox" name="email" id="email" class="chk-100px" />
          <button type="button" class="btn btn-default btn-circle text-left"  popover-placement="top" uib-popover="Let the 3 status led blink. The default pins are 11, 13, 15 (GPIO.BOARD).">
              <i class="glyphicon glyphicon-info-sign"></i>
          </button>
        </div>
      </div>
    </form>

    <p>
        <br>
    </p>

    <p>
        <a href="#!/master/node" class="btn btn-warning btn-sm" role="button">Go back</a>
        <a href="#!/master/" class="btn btn-success btn-lg btn-start text-center" role="button">Finish</a>
    </p>


</div>
