
<div class="text-center">

    <div class="text-left">
        <p>Log:</p>
        <div class="well text-left">
          <div class="log-scroll-height" ng-scrollbar is-bar-shown="barShown">
            <h1>Scroll me down!</h1>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="https://github.com/asafdav/ng-scrollbar">Learn more</a>
            </p>
          </div>
        </div>
    </div>

    <div class=""text-center>
        <p>
            <a href="#!/master/config" class="btn btn-warning btn-sm" role="button">Go back</a>
            <a class="btn btn-success btn-lg btn-start text-center" ng-click="finishSetup()" role="button">Finish</a>
        </p>

    </div>

</div>
