<div ng-controller="AdminDoorsCtrl"   >

    <p style="font-weight: bold ; margin: 30px 0 0 0"> Add doors</p>
    <hr style="margin-top: 2px; margin-bottom: 10px">

    <table class="table table-striped">
        <thead >
            <tr>
                <th>displayed name</th>
                <th>address</th>
                <th>password</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <input type="text" ng-model="newdoor.name" class="form-control">
                </td>
                <td>
                    <label for="doorAddress" style="float: left;  margin-top: 8px; margin-right:3px">http://</label>
                    <input id="doorAddress" type="text" ng-model="newdoor.address" class="form-control" style="width: 80%">
                </td>
                <td>
                    <input id="doorPassword" type="password" ng-model="newdoor.password" class="form-control">
                </td>
                <td>
                    <button type="button" ng-click="addDoor()" class="btn btn-sm btn-success">
                        <i class="glyphicon glyphicon-plus">
                        </i> Add
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-danger" ng-show="showError">
        {{error}}
    </div>


    <p style="font-weight: bold ; margin: 30px 0 0 0"> Synhronize doors:</p>
    <hr style="margin-top: 2px; margin-bottom: 10px">

    <div >
        <button type="button" ng-click="syncDoors()" class="btn btn-success">
            <i class="glyphicon glyphicon-refresh">
            </i>
            Force synch.
            <img ng-show="requestSyncing" src="images/loading.gif" >

        </button>
    </div>

    <p style="font-weight: bold ; margin: 30px 0 0 0"> Door list:</p>
    <hr style="margin-top: 2px; margin-bottom: 10px">

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead >
            <tr>
                <th st-sort="name" align="center">name</th>
                <th st-sort="address">address</th>
                <th st-sort="doorSlot">valid keys</th>
                <th>actions</th>
            </tr>
            <tr>
                <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
        </thead>

        <tbody>
            <tr st-select-row="row" st-select-mode="single" ng-repeat="row in displayedCollection">
                <td>
                    {{row.displayName}} ( {{row.name}} )
                </td>
                <td>{{row.address}}</td>

                <td>
                    <button ng-show="row.local == 0 && row.keyMask == -1" " popover-placement="right" tooltip="update valid keys" class="btn btn-default">
                        <i class="glyphicon glyphicon-question-sign "></i>
                    </button>
                    <span ng-show="row.keyMask != -1">
                        <a ng-show="row.keyMask | bitwiseAndFilter : 1" class="btn btn-default gliphicons-small" tooltip="red key" >
                            <i class="glyphicon glyphicon-thumbs-up gliphicon-red" ></i>
                        </a>
                        <a ng-show="row.keyMask | bitwiseAndFilter : 2" class="btn btn-default gliphicons-small" tooltip="green key">
                            <i class="glyphicon glyphicon-thumbs-up gliphicon-green" ></i>
                        </a>
                        <a ng-show="row.keyMask | bitwiseAndFilter : 4" class="btn btn-default gliphicons-small" tooltip="black key">
                            <i class="glyphicon glyphicon-thumbs-up gliphicon-black" ></i>
                        </a>
                        <a ng-show="row.keyMask | bitwiseAndFilter : 8" class="btn btn-default gliphicons-small" tooltip="pink key">
                            <i class="glyphicon glyphicon-thumbs-up gliphicon-pink" ></i>
                        </a>
                        <a ng-show="row.keyMask | bitwiseAndFilter : 16" class="btn btn-default gliphicons-small" tooltip="marine key">
                            <i class="glyphicon glyphicon-thumbs-up gliphicon-marine"></i>
                        </a>
                        <a ng-show="row.keyMask | bitwiseAndFilter : 32" class="btn btn-default gliphicons-small" tooltip="orange key">
                            <i class="glyphicon glyphicon-thumbs-up gliphicon-orange"></i>
                        </a>
                        <a ng-show="row.keyMask | bitwiseAndFilter : 64" class="btn btn-default gliphicons-small" tooltip="olive key">
                            <i class="glyphicon glyphicon-thumbs-up gliphicon-olive"></i>
                        </a>
                        <a ng-show="row.keyMask | bitwiseAndFilter : 128" class="btn btn-default gliphicons-small" tooltip="purple key">
                            <i class="glyphicon glyphicon-thumbs-up gliphicon-purple"></i>
                        </a>
                    </span>
                </td>
                <td>
                    <div ng-show="row.local == 0">
                        <!--
                        <button ng-show="row.local == 0" type="button" ng-click="synchronizeDoor(row)" class="btn btn-sm btn-success" tooltip="Synchronize">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                        -->
                        <button ng-show="row.local == 0" type="button" ng-click="removeDoor(row)" class="btn btn-sm btn-danger" tooltip="Remove door">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </button>
                    </div>

                    <div ng-show="row.local == 1" class="btn-group" dropdown is-open="status.isopen">
                        <button id="single-button" type="button"  class="btn btn-sm btn-danger" dropdown-toggle tooltip="configure user">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <!-- <li role="menuitem"><a ng-click="setupUserAccess(row)">Setup door</a></li> -->
                        </ul>
                        <img ng-if="row.userUpdatePending" src="images/loading.gif" >
                    </div>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="alert alert-info" ng-show="isLoading">
        Loading data ...
        <img src="images/loading.gif" >
    </div>
</div>