
.center-form-block {
  display: inline-block;
  text-align: center;
}

.normal-checkbox {
    height: 24px;
}

.popover {
    max-width: 768px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}


.popover-content {
  white-space: pre;
}

.setting-col {
  line-height: 35px;
}

.setting-span {
  vertical-align: middle;
}

.alert-info {
  white-space: pre;
}

.combobox {
  font-size: 14px;
  width: 100%;
  color: #555;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 34px;
  padding-left: 10px;
  height: 32px;
  background-color: white;
}

.msg-error {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color:#F00;
}

.credits div {
    margin-top: 50px;
}

hr.divider  {
    margin-top: 1px;
}

.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline

}
.centered-pills a {
    float: left;
    width: 80px;
}


.dropdown-menu li {
  display: inherit;
}

.dropdown-menu a {
    width: auto;
    float: none;
}

.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

.gliphicon-red, .gliphicon-red a {
  color: OrangeRed;
}

.gliphicon-green, .gliphicon-green a {
  color: YellowGreen;
}

.gliphicon-black, .gliphicon-black a {
  color: Black;
}

.gliphicon-pink, .gliphicon-pink a {
  color: DeepPink;
}

.gliphicon-marine, .gliphicon-marine a {
  color: DarkSlateBlue;
}

.gliphicon-orange, .gliphicon-orange a {
  color: DarkOrange;
}

.gliphicon-olive, .gliphicon-olive a {
  color: DarkOliveGreen;
}

.gliphicon-purple, .gliphicon-purple a {
  color: DarkMagenta ;
}

.gliphicon-yellow, .gliphicon-yellow a {
  color: Gold ;
}

.gliphicon-gray, .gliphicon-gray a {
  color: darkslategray ;
}

.gliphicon-aqua, .gliphicon-aqua a {
  color: LightSkyBlue  ;
}

.gliphicon-brown, .gliphicon-brown a {
  color: Sienna  ;
}


a.gliphicons {
    float: none;
    width: inherit;
}

a.gliphicons-small {
    float: none;
    width: 32px;
}

a.glyphicons-very-small {
    float: none;
    width: 24px;
}

a.width170px {
    width: 120px;
}

* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.table > tbody > tr > td {
    vertical-align: middle;
}


.nav-pills > li.active > a {
    background-color:gray;
}


.nav-pills > li.active > a:hover {
    background-color:gray;
}

.nav-pills > li.active > a:focus {
    background-color:gray;
}

.chk-100px {
    height: 20px;
    vertical-align: middle;
    width: 100px;
}

.inp-100px {
    width : 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.log-scroll-height {
    max-height: 200px;
    height: 200px;
}


.display-block-20px {
    display: block ;
}

.small-padding {
    padding-left: 2px;
    padding-right: 2px;

}
.inp-150px {
    width : 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-100px {
    width: 100px;
}
.btn-lg.round {
    border-radius: 24px;
    margin: 20px;
}

.btn-start {
    padding-right:25px;
    padding-left:25px;
}

.btn-circle {
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-color:  #8a8a8a;
  border-radius: 10px;
}

.btn-rfid-tag {
    height: 80px;
    width: 300px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table > thead > tr > th {
    text-align: center;

}