<div ng-controller="SupervisorUsersCtrl"   >
    <div class="alert alert-danger" ng-show="showError">
        Loading data failed.
    </div>


    <p></p>
    <p style="font-weight: bold; margin: 0"> Card</p>
    <hr style="margin-top: 2px">

    <!-- Split button -->
    <div class="btn-group" uib-dropdown>

        <button id="split-button" type="button"  ng-click="updateRfidInfo()" class="btn btn-lg btn-rfid-tag btn-warning">
            <span ng-bind-html = "rfidtaginfo | unsafeHTML"></span>
        </button>
    </div>

    <p></p>

    <p style="font-weight: bold ; margin: 30px 0 0 0"> Userlist</p>
    <hr style="margin-top: 2px; margin-bottom: 10px">

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped"">
        <thead >
            <tr>
                <th st-sort="firstName">user</th>
                <th st-sort="accessDateEnd">valid. type</th>
                <th st-sort="accessTimeStart">valid. time</th>
                <th st-sort="keyMask"> keys & licenses</th>
                <th>actions</th>
            </tr>
            <tr>
                <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
        </thead>

        <tbody>
            <tr st-select-row="row" st-select-mode="single" ng-repeat="row in displayedCollection">
                <td>

                    <span> {{row.firstName}} {{row.lastName}} </span> <br>
                    <a href="mailto:{{row.email}}" class="btn btn-default gliphicons" >
                        <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                    <button popover-placement="right" popover="{{row.phone}}" class="btn btn-default">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                    </button>
                    <button ng-show="row.role == 1" popover-placement="right" popover="Admin" class="btn btn-default">
                        <i class="glyphicon glyphicon-star-empty"></i>
                    </button>
                    <button ng-show="row.cardID" popover-placement="right" class="btn btn-default">
                        <i class="glyphicon glyphicon-credit-card"></i>
                    </button>
                    <button ng-show="row.budget != 0.00" popover-placement="right" popover="{{row.budget | number:2}}€" class="btn btn-default">
                        <i class="glyphicon glyphicon-euro"></i>
                    </button>
                    <button popover-placement="right" popover="{{row.association}}" class="btn btn-default">
                        <i class="glyphicon glyphicon-home"></i>
                    </button>

                </td>
                <td>
                        <span ng-show="row.accessType == 0">
                            no access
                        </span>

                        <span ng-show="row.accessType == 1">
                            period <br>
                            from
                            {{row.accessDateStart | moment:'DD.MM.YYYY'}}
                            to
                            {{row.accessDateEnd | moment:'DD.MM.YYYY'}}
                        </span>

                        <span ng-show="row.accessType == 2">
                            {{row.accessDayCounter}} day/s
                        </span>

                        <span ng-show="row.accessType == 3">
                            infinite access
                        </span>

                        <span ng-show="row.accessType == 4">
                            {{row.accessDayCounter}} day/s of
                            monthly budget ({{row.accessDayCyclicBudget}} day/s)
                        </span>

                        <span ng-show="row.accessType == 5">
                            {{row.accessDayCounter}} day/s of
                            quarterly budget ({{row.accessDayCyclicBudget}} day/s)
                        </span>

                </td>
                <td>
                        {{row.accessTimeStart | moment:'HH:mm'}}
                        to
                        {{row.accessTimeEnd | moment:'HH:mm'}}

                        <br>

                        (
                        <span ng-show="row.accessDaysMask | bitwiseAndFilter : 1">Mo</span>
                        <span ng-show="row.accessDaysMask | bitwiseAndFilter : 2">Tu</span>
                        <span ng-show="row.accessDaysMask | bitwiseAndFilter : 4">We</span>
                        <span ng-show="row.accessDaysMask | bitwiseAndFilter : 8">Th</span>
                        <span ng-show="row.accessDaysMask | bitwiseAndFilter : 16">Fr</span>
                        <span ng-show="row.accessDaysMask | bitwiseAndFilter : 32">Sa</span>
                        <span ng-show="row.accessDaysMask | bitwiseAndFilter : 64">Su</span>
                        )
                </td>
                <td>
                        <i ng-show="row.licenseMask | bitwiseAndFilter : 1"  class="glyphicon glyphicon-credit-card gliphicon-red" tooltip="red licence"></i>
                        <i ng-show="row.licenseMask | bitwiseAndFilter : 2"  class="glyphicon glyphicon-credit-card gliphicon-green" tooltip="green licence"></i>
                        <i ng-show="row.licenseMask | bitwiseAndFilter : 4"  class="glyphicon glyphicon-credit-card gliphicon-black" tooltip="black licence"></i>
                        <i ng-show="row.licenseMask | bitwiseAndFilter : 8"  class="glyphicon glyphicon-credit-card gliphicon-pink" tooltip="pink licence"></i>
                        <i ng-show="row.licenseMask | bitwiseAndFilter : 16"  class="glyphicon glyphicon-credit-card gliphicon-marine" tooltip="marine licence"></i>
                        <i ng-show="row.licenseMask | bitwiseAndFilter : 32"  class="glyphicon glyphicon-credit-card gliphicon-orange" tooltip="orange licence"></i>
                        <i ng-show="row.licenseMask | bitwiseAndFilter : 64"  class="glyphicon glyphicon-credit-card gliphicon-olive" tooltip="olive licence"></i>
                        <i ng-show="row.licenseMask | bitwiseAndFilter : 128"  class="glyphicon glyphicon-credit-card gliphicon-purple" tooltip="purple licence"></i>

                        <i ng-show="row.keyMask | bitwiseAndFilter : 1"  class="glyphicon glyphicon-thumbs-up gliphicon-red" tooltip="red key"></i>
                        <i ng-show="row.keyMask | bitwiseAndFilter : 2"  class="glyphicon glyphicon-thumbs-up gliphicon-green" tooltip="green key"></i>
                        <i ng-show="row.keyMask | bitwiseAndFilter : 4"  class="glyphicon glyphicon-thumbs-up gliphicon-black" tooltip="black key"></i>
                        <i ng-show="row.keyMask | bitwiseAndFilter : 8"  class="glyphicon glyphicon-thumbs-up gliphicon-pink" tooltip="pink key"></i>
                        <i ng-show="row.keyMask | bitwiseAndFilter : 16"  class="glyphicon glyphicon-thumbs-up gliphicon-marine" tooltip="marine key"></i>
                        <i ng-show="row.keyMask | bitwiseAndFilter : 32"  class="glyphicon glyphicon-thumbs-up gliphicon-orange" tooltip="orange key"></i>
                        <i ng-show="row.keyMask | bitwiseAndFilter : 64"  class="glyphicon glyphicon-thumbs-up gliphicon-olive" tooltip="olive key"></i>
                        <i ng-show="row.keyMask | bitwiseAndFilter : 128"  class="glyphicon glyphicon-thumbs-up gliphicon-purple" tooltip="purple key"></i>


                </td>
                <td>
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button id="single-button" type="button"  class="btn btn-sm btn-danger" dropdown-toggle tooltip="configure user">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a ng-click="setupUserAccess(row)">Setup access validation</a></li>
                            <li ng-show="rfidTagId != '' && row.cardID == '' && rfidTagUser == ''" role="menuitem" ng-click="assignUserRfidTag(row)"><a >Assign RFID ({{rfidTagId}})</a></li>
                            <li ng-show="rfidTagId != '' && rfidTagId == row.cardID" role="menuitem" ng-click="withdrawUserRfidTag(row)"><a >Withdraw RFID ({{rfidTagId}})</a></li>
                            <li ng-show="row.cardID != '' && rfidTagId != row.cardID" role="menuitem" ng-click="invalidateUserRfidTag(row)"><a >Invalidate RFID / Auth. card</a></li>
                        </ul>
                        <img ng-if="row.userUpdatePending" src="images/loading.gif" >
                    </div>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="alert alert-info" ng-show="isLoading">
        Loading data ...
        <img src="images/loading.gif" >
    </div>
</div>