<div ng-controller="AdminSettingsCtrl">

     <div class="alert alert-success" ng-show="showSuccess">
        {{success}}
    </div>

     <div class="alert alert-danger" ng-show="showError">
        {{error}}
    </div>

    <p></p>

    <form name="form" ng-submit="updateSettings()" role="form" class="form-horizontal" >

        <p style="font-weight: bold; margin: 0"> Node Settings</p>
        <hr style="margin-top: 2px">

        <div class="form-group">

            <label class="col-xs-3 control-label">Valid Keys</label>
            <div class="col-xs-8">
                <span>
                    <input type="checkbox" ng-model="keyMaskRed">
                    <i class="glyphicon glyphicon-thumbs-up gliphicon-red" tooltip="red key"></i>
                </span>
                <span>
                    <input type="checkbox" ng-model="keyMaskGreen">
                    <i class="glyphicon glyphicon-thumbs-up gliphicon-green" tooltip="green key"></i>
                </span>
                <span>
                    <input type="checkbox" ng-model="keyMaskBlack">
                    <i class="glyphicon glyphicon-thumbs-up gliphicon-black" tooltip="black key"></i>
                </span>
                <span>
                    <input type="checkbox" ng-model="keyMaskPink">
                    <i class="glyphicon glyphicon-thumbs-up gliphicon-pink" tooltip="pink key"></i>
                </span>
                <span>
                    <input type="checkbox" ng-model="keyMaskMarine">
                    <i class="glyphicon glyphicon-thumbs-up gliphicon-marine" tooltip="marine key"></i>
                </span>
                <span>
                    <input type="checkbox" ng-model="keyMaskOrange">
                    <i class="glyphicon glyphicon-thumbs-up gliphicon-orange" tooltip="orange key"></i>
                </span>
                <span>
                    <input type="checkbox" ng-model="keyMaskOlive">
                    <i class="glyphicon glyphicon-thumbs-up gliphicon-olive" tooltip="olive key"></i>

                </span>
                <span>
                    <input type="checkbox" ng-model="keyMaskPurple">
                    <i class="glyphicon glyphicon-thumbs-up gliphicon-purple" tooltip="purple key"></i>
                </span>
            </div>
        </div>

        <div class="form-actions" class="col-xs-3 control-label">
            <button type="submit" ng-disabled="form.$invalid || settingsUpdatePending" class="btn btn-success">Change settings</button>
            <img ng-if="passwordUpdatePending" src="images/loading.gif" >
        </div>

    </form>

    <p></p>

    <p></p>

</div>
