
<div class="text-center">
    <h2>What system do you want to setup?</h2>
</div>


<div >
    <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-1">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Setup master node</h3>
                    <p>The master node controls and synchronizes other nodes. It provides a user interface for easy management. In addition it also could interface a door or a device. Choose this, for your first node (single node installation included).</p>
                    <a href="#!/master/config">
                        <img src="images/master_config.png" class="img-responsive" alt="...">
                    </a>
                    <p></p>
                     <p class="text-center"><a href="#!/master/config" class="btn btn-success btn-lg" role="button">Setup the master</a> </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Setup slave node</h3>
                    <p>The slave node provides an interface to doors, boxes and devices. It will be synchronized and managed by the master-node. Choose this, if you already have a master-node and want to add further nodes to your system.</p>
                    <a href="#!/slave/config">
                        <img src="images/slave_config.png" style="width:100%" alt="...">
                    </a>
                    <p></p>
                    <p class="text-center"><a href="#!/slave/config" class="btn btn-success btn-lg" role="button">Setup a slave</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <p>
                <a href="#!/" class="btn btn-warning btn-sm" role="button">Go back</a>
            </p>
        </div>
    </div>
</div>
